services:
  - type: web
    name: CoasterDPI
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: FLASK_ENV
        value: production
      - key: PORT
        value: '10000' 
      - key: DATABASE_URL
        value: 'postgresql://user:CRLMC7hvK0rCEfvn6Nr2YJUtJetOR0ug@dpg-d43if0uuk2gs73954uq0-a.singapore-postgres.render.com/coasterdpi16_db_x5vo'
    plan: free
